#navbar{
  background-color:rgb(75, 75, 75);
  overflow:hidden;    
  font-family:sans-serif;
  width:100%;
  font-size: 20px;
}

#navbar-container{  
  float:left;
  width:100%;
  position: relative;
}

#navbar ul{
  list-style-type:none;
  margin:0;
  padding:0;
  position:relative;
  left:50%;
  float:left;
}

#navbar ul li{
  float:left;
  position:relative;
  right:50%;
  display:block;
  border-right: 2px solid rgb(135, 135, 135);
  border-left: 2px solid rgb(135, 135, 135);
}

#navbar ul li a{
  display:block;
  padding: 20px 20px;
  color:#fff;
  text-decoration:none;
}

#navbar ul li a:hover{
  background-color: rgb(100, 120, 190);
}

#onpage{
  background-color: rgb(60, 60, 60);
}

body{
  background-color:rgb(100, 120, 190);
  margin-top:0px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  color:white;
}

#mainBody{
  font-family:sans-serif;
}

#mainHeading{
  text-align:center;
  font-family:sans-serif;
  
}

#resumeContactDetails{
  text-align:center;
  font-family:sans-serif;
  border-bottom:solid;
}

#pageImages{
  display:flex;
  justify-content:center;
}

#textContent{
  text-align:center;
  border:10px solid;
  padding:10px;
  margin-top:10px;  
}

::-webkit-scrollbar {
  width: 10px;
}
  
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(135, 135, 135);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 75, 75);
}